<div class="container">
<!-- <h2>
  Clients
</h2> -->
<br>
<br>
<form name="form" (ngSubmit)="searchForm.form.valid && onSubmit()" #searchForm="ngForm" novalidate>
<div class="row">
  <div class="col-md-2">
    <div class="form-group">
        <input type="text" class="form-control" name="name" [(ngModel)]="client_data.name" #name="ngModel" placeholder="Name"   />
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
        <input type="text" class="form-control" name="phone" [(ngModel)]="client_data.phone" #phone="ngModel" placeholder="phone"  />
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
        <input type="text" class="form-control" name="email" [(ngModel)]="client_data.email" #email="ngModel" placeholder="email"  />
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
        <input type="text" class="form-control" name="company" [(ngModel)]="client_data.company" #company="ngModel" placeholder="company"  />
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
        <input type="text" class="form-control" name="zip" [(ngModel)]="client_data.zip" #zip="ngModel" placeholder="zip"  />
    </div>
  </div>
  <div class="col-md-2">
    <button class="btn btn-primary" >Search Clients</button>
  </div>
</div>
</form>
<a [routerLink]="['/clients/create-client']">Create Client</a>
<table class="table table-light table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Company</th>
      <th>Zip</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients_list">
      <td>{{client.name}}</td>
      <td>{{client.phone}}</td>
      <td>{{client.email}}</td>
      <td>{{client.company}}</td>
      <td>{{client.zip}}</td>
      <td><button class="btn btn-primary" [routerLink]="['/clients/edit-client/'+client._id]">Edit</button> </td>
    </tr>
  </tbody>
</table>
</div>
<router-outlet></router-outlet>
